{% extends "layout.jinja" %}

{% block title %}New Post{% endblock %}

{% block content %}
<form class="form" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" value="{{ request.form['title'] }}" required />
    <label for="body">Body</label>
    <textarea id="body" name="body" required>{{ request.form['body'] }}</textarea>
    <button type="submit">Create</button>
</form>
{% endblock %}
