{% extends "layout.jinja" %}

{% block title %}Edit "{{ post["title"] }}"{% endblock %}

{% block content %}
<form class="form" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" value="{{ post['title'] }}" required />
    <label for="body">Body</label>
    <textarea id="body" name="body" required>{{ post['body'] }}</textarea>
    <button type="submit">Save</button>
</form>
{% endblock %}
